{% extends 'sidebar.html' %}
{% load static %}

{% block title %}Members{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'allmembers.css' %}">
{% endblock %}

{% block content %}
    <div class="dashboard">
        <header class="dashboard-header">
            <h1>Member Management Dashboard</h1>
        </header>
        
        <div class="search-container">
            <input type="text" id="searchInput" class="search-input" placeholder="Search members by name, phone, plan, or date...">
        </div>

        <table class="members-table">
            <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Phone Number</th>
                    <th>Additional Information</th>
                    <th>Plan</th>
                    <th>Paid Amount</th>
                    <th>Date Joined</th>
                </tr>
            </thead>
            <tbody id="memberTableBody">
                {% for member in members %}
                <tr>
                    <td>{{ member.full_name }}</td>
                    <td>{{ member.phone_number }}</td>
                    <td>{{ member.additional_info }}</td>
                    <td>{{ member.latest_plan }}</td>
                    <td>Ksh {{ member.total_amount_paid|floatformat:2 }}</td>
                    <td>{{ member.date_joined|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>


    {% block extra_js %}
    <script src="{% static 'members.js' %}"></script>
    {% endblock %}

{% endblock %}

