{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Fastcardio - Log In</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        .messages {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
        .messages.error {
            background-color: #ffdddd;
            border: 1px solid #ff0000;
            color: #ff0000;
        }
        .messages.success {
            background-color: #ddffdd;
            border: 1px solid #00ff00;
            color: #008000;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <!-- <h1>Fastcardio Fitness</h1> -->
        <img src="{% static 'images/fastcardio.jpg' %}" alt="Logo" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; margin-bottom: 3%; ">

        
        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <div class="messages {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <form action="{% url 'Dashboard' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Username</label>
                <input type="text" name="username" id="email" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="login-button">Log In</button>
        </form>
    </div>
</body>
</html>